<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- This feature is present only in the Automotive flavor so Google Play
         routes the AAB exclusively through the Android Automotive OS form factor. -->
    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="true" />

    <!-- Do not exclude AAOS head units that do not advertise these input/display
         features in the same way as phones/tablets. -->
    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />

</manifest>
